@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@400;500;700&display=swap');

/* main display */

body {
    background-color: rgb(64, 107, 88);
    margin: 1.5rem;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

/* text/buttons */

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(131, 2, 6);
}

p {
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(1, 106, 46);
    font-size: 17px;
}

select {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 6px;
    border: solid rgb(160, 173, 160) 2px;
    border-radius: 2px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(58, 148, 91);
    padding: 6px;
    color: white;
    border: solid rgb(45, 110, 45) 2px;
    border-radius: 2px;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 0.3rem;
}

.buttons-container {
    text-align: center;
}

/* hover states */

select:hover {
    background-color: rgba(154, 171, 154, 0.187);
    border: solid rgb(141, 155, 141) 2px;
}

button:hover {
    background-color: rgb(45, 114, 70);
    border: solid rgb(17, 70, 17) 2px;
}

/* recipe display */

#recipe-display {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2rem;
    padding: 20px;
    border: 3px solid rgba(125, 151, 129, 0.683);
    border-radius: 8px;
}

img {
    min-width: 100%;
    max-width: 100%;
}

.instructions, ul {
    text-align: left;
}

h2, h3 {
    text-align: center;
}

h3 {
    color: rgb(48, 104, 48);
    font-size: 19.5px;
}

@media screen and (min-width: 720px){
    .recipe-flex {
        display: flex;
    }

    img {
        min-width: 70%;
        max-width: 70%;
    
    }
}